    * {
        margin: 0px;
        padding: 0px;
        font-family: arial;
        box-sizing: border-box;
    }

    /* nav bar start */
    header {
        width: 100%;
        height: auto;
        padding: 28px 10%;
        justify-content: space-between;
        background-image: linear-gradient(#000000, black);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        /* opacity: 80%; */
    }

    .ip-image {
        border: 10 px solid rgb(95, 13, 13);

    }

    .head-img {
        /* display: inline-block; */
        height: 40px;
        width: 40px;
    }

    .spotify {
        width: fit-content;
        color: aliceblue;
        padding: 2px;
        /* display: inline-block; */
    }
    

    .logo {
        padding: 0px;
        display: flex;
        justify-content: left;
        
    }

    nav li {
        padding: 0px 20px;
        display: inline-block;
        list-style: none;
    }

    .navbar li a {
        font-size: 1.5rem;
    }

    .navbar li a:hover {
        color: #12c7e3;

    }

    a {
        text-decoration: none;
        text-align: none;
        color: white;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
    }

    /* nav bar ends */



    /* first page css */
    .first {
        background-color: #d400ff;
        display: flex;
        /* height: 720px; */
        
    }

    .mobileimg {
        padding-top: 6%;
        padding-left: 12%;
        padding-bottom: 0px;
        padding-right: 0px;
        margin-bottom: 0px;
        /* border: 2px solid rgb(0, 0, 0); */
    }
    .ip-img{
        width: 30vw;
        height: 100%;
        /* border: 2px solid black; */
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .mobilecontent {
        /* border: 2px solid black; */
        font-size: 1rem;
        padding-top: 17%;
        padding-left: 1%;
        color: white;
    }

    .btnn {
        margin-top: 10%;
        padding: 2%;
        border: none;
        border-radius: 25px;
        font-weight: bold;
        /* background: rgb(137, 16, 207); */
    }

    .btnn:hover {
        font-size: 15px;
        color:red;
        /* background: rgb(139, 15, 234); */
    }

    /* first page css end */

    /* second page start */
    .whyspotify,
    h2 {
        margin: 40px;
        text-align: center;
        font-size: 60px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }

    .second {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /* box-sizing: border-box; */
        margin-bottom: 40px;

    }
    .second div{
        /* border: 2px solid black; */
        /* flex-wrap: wrap; */
        width: 300px;
    }
    .icon {
        display: inline-block;
        margin: 20px;
        margin-left: 60px;
        /* margin-right: 80px; */
        width: 160px;
    }

    h4{
        font-size: 1.5rem;
        /* font-weight: bold; */
        /* margin:40px; */
        padding-top: 15px;
        padding-bottom: 7px;
        /* margin-left: 600px; */
        color: #000000;
        text-align: center;
    }

    

    .second p {
        text-align: center;
        /* width: 400px; */
        font-size: 1rem;
        /* padding-left: 70px; */
        color: #000000;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

/* second page end */



/* third page start */
    .three {
        display: block;

        background: rgba(212, 0, 255, .7);
        opacity: .7;
        padding-top: 3vh;
        height: 400px;
    }

    .white {
        color: aliceblue;
        font-family: 'Times New Roman', Times, serif;
        font-size: 60px
    }

    .bg {
        background-image: url(3.jpeg);
    }

    /* third page css end */

    /* fourth page start */
    .dropdown {
        margin-left: 20%;
        margin-right: 20%;
        height: auto;
        padding: 20px;
        /* border: 2px solid black; */
    }
    .dropbtn {
        display: block;
        margin: 10px;
        width: 100%;
    }
    .dropdown p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1rem;
        padding: 5px;
        width: 100%;
        text-align: left;
        color: #000000;
    }

    /* fourth page end */



    /* fifth page start */

    .btn2:hover{
        font-size: 15px;
        color:red;
    }
    .btn2 {
        display: inline-block;
        margin-left: 40vw;
        margin-top: 50px;
        padding: 1%;
        border: none;
        border-radius: 25px;
        font-weight: bold;
    }

    /* fifth page end */



    /* footer page start */
    .last {
        width: 100%;
        height: 350px;
        background: black;
        padding: 60px;
        padding-bottom: 200px;
    }
    .logo p{
        font-size: 2.3rem;
    }
    .about{
        display: flex;
        justify-content: space-around;
    }

    .about div{
        margin-top: 50px;
        width: 200px;
        display: flex;
        flex-direction: column;


    }
    
    .about div p{
        text-align: center;
        color: aliceblue;
        font-size: 1.4rem;
        padding: 10px;
    }
    .about div a  {
        text-align: center;
        /* color: aliceblue; */
        padding: 5px;
        font-size: 1.2rem;
    }
    .link:hover{
        color: #12c7e3;
        font-size: 1.3rem;
    }
    /* footer end */


    